extends layout 

block content 

    h1 #{title}

    ul 
        each category in all_categories 
            li 
                a(href=category.url) #{category.title}
        
        else 
            p Sorry, there are no categories avaliable