extends layout 

block content 
    h1 #{title}
    h2 #[em item.title]

    p #[strong Category:] #{item.category}
    p #[strong Stock:] #{item.stock}
    p #[strong Description:] #{item.description}